header {
    background-color: rgb(190, 139, 148);
}


.learn {
    background-color: rgb(151, 151, 151);

}


.information {
    background-color: bisque;
}



.start-learning {
    background-color: lightgray;
}



.thesis {
    background-color: rgb(209, 198, 182);
}