* {
  font-family: Helvetica, sans-serif;
  color: rgb(70, 68, 68);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 15px;
  font-weight: 300;
}


a {
  color: rgb(9, 110, 233);
}
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  list-style: none;
}
.right {
  display: flex;
  list-style: none;
  li {
    margin-right: 16px;
  }
}
.learn {
  background-color: rgb(230, 230, 230);
  width: 100%;
  display: flex;
  align-items: center;

  .learn-left {
    max-width: 60%;
    padding: 32px 24px;
    img {
      width: 100%;
    }
  }
  .learn-right {
    .button {
      background-color: rgb(85, 84, 84);
      padding: 8px 100px;
    }
  }
}

.information {
  width: 100%;
  display: flex;
  align-items: center;
}
.info-left {
  max-width: 60%;
  padding: 32px 24px;
  img {
    width: 100%;
  }
}
.info-right {
  padding-left: 24px;
  padding-top: 16px;
}
.info-right-right,
.exhibit-right-right {
  padding-left: 16px;
}
.campus,
.guest,
.design,
.now {
  display: flex;
  padding: 16px 16px;
  align-items: center;
}
.orientation {
  display: flex;
  padding: 32px 16px 16px 16px;
  align-items: center;
}

#practicing {
  padding-top: 32px;
  padding-bottom: 24px;
}
span {
  padding-bottom: 32px;
}

.start-learning {
  background-color: lightgray;
}

.head {
  padding-left: 32px auto;
  display: flex;
  justify-content: center;
}
.thesis {
  display: flex;
}

.exhibit-left {
  max-width: 60%;
  padding: 32px 24px;
  video {
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-right {
    display: flex;
    p {
      padding-right: 6px;
    }
    p {
      padding-right: 6px;
    }
  }
}
